@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #F4F5F7;
  font-family: 'Source Sans Pro', sans-serif;
  
}
img {
  display: inline-block;
  object-fit: cover;
  height: 40px;
  width: 40px;
}
.pic-a{
  float: left;
}
.pic-b{
  float: right;
}

section {
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.3);
}
.menu .logo {
  display: inline-block;
}
.menu .menu-btn {
  vertical-align: middle;
  display: inline-block;
  padding-left: 2rem;
  color: rgba(144, 149, 159, 0.6);
  font-weight: 600;
}

.menu .logo a {
  color: rgba(0, 0, 0);
  vertical-align: middle;
}
.menu .logo a span {
  padding-left: 0.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  display: inline-block;
  
}
.menu .menu-btn a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  margin-left: 2rem;
}
.menu .menu-btn a:hover {
  color: black;
  padding-bottom: 1.4rem;
  border-bottom: 3px solid #6875F5;
}

.right {
  display: flex;
  position: relative;
}
.right .icon {
display: inline-block;
position: absolute;
vertical-align: middle;
font-size: 1.5rem;
top: 47%;
transform: translateY(-50%);
color: #9EA6B2;
margin-left: 1rem;
}

.right .search .sear {
  display: inline-block;
  padding: 0.9rem 1rem 0.9rem 1rem;
  width: 25rem;
  margin-right: 2rem;
  border-radius: 0.7rem;
  border: 1px solid #9EA6B2;
  
}
::placeholder {
  font-size: 1.3rem;
  padding-left: 2rem;
  color: #9EA6B2;
}
.right .search .sear:hover {
  outline: none;
  box-shadow: 0px 0.2px 2px 0px;
}

.bell {
  font-size: 1.7rem;
  padding-right: 2rem;
  vertical-align: middle;
  color: #9EA6B2;
}

/* home */

.home {
  background-color: #FFF0E5;
  display: flex;
  position: relative;
  width: 100%;
  height: 90vh;
}
.home div {
  background-color: white;
}
.home .heading {
  position: absolute;
  top: 0%;
  width: 300px;
  background-color: #FFF0E5;
  font-size: 1.3rem;
  margin: 1.5rem 1rem 1rem 1rem;
}
.home .first {
  position: absolute;
  top: 13%;
  height: 260px;
  width: 500px;
  margin-left: 1rem;
  border: 1px solid black;
  background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/language/python.svg?fbclid=IwAR1IDNcUY39GvjjlzWkyyxyLpdXkc7KL_JNxLYYr9ht0-UhZDg3DG0B8dsM);
  background-size: cover;
}
.first .content-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 430px;
  align-items: center;
  margin-left: 2rem;
}
.content-1 h2 {
  font-size: 1.5rem;
  padding: 3rem 2rem 0rem 2rem;
  font-weight: 500;
}
.content-1 h1 {
  font-size: 2rem;
  padding: 0rem 2rem 3rem 2rem;
  font-weight: 700;
}
.home .second {
  position: absolute;
  top: 13%;
  height: 575px;
  width: 500px;
  margin-left: 35.7rem;
  border: 1px solid black;
  
}
.second .content-2 {
  position: absolute;
  top: 0%;
  width: 465px;
  margin-left: 2rem;
  
}
.content-2 h2 {
  font-size: 1.5rem;
  padding: 2rem 2rem 0.8rem 0rem;
  font-weight: 500;
  letter-spacing: 1px;
}
h2 span {
  color: white;
  background-color: black;
}
.content-2 h1 {
  font-size: 2rem;
  padding-bottom: 0.3rem;
}
.content-2 h3 {
  font-size: 1.35rem;
  font-weight: 400;
}
h3 i {
  font-size: 0.8rem;
}
h3 span {
  font-weight: 700;
}
.content-2 img {
  position: absolute;
  width: 250px;
  height: 250px;
  margin: 4rem 0rem 0rem 6rem;
}
.content-2 p {
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  margin: 24.5rem 0rem 0rem 19.5rem;
  background-color: #FFF5FF;
  font-weight: 600;
}

.home .third {
  position: absolute;
  top: 13%;
  height: 260px;
  width: 500px;
  margin-left: 70.5rem;
  border: 1px solid black;
  
}
.third .content-3 {
  position: absolute;
  top: 0%;
  width: 466px;
  align-items: center;
  margin-left: 2rem;
}
.content-3 h2 {
  font-size: 1.5rem;
  padding: 2rem 2rem 0.7rem 0rem;
  font-weight: 500;
}
.content-3 h1 {
  font-size: 2rem;
  padding-bottom: 0.3rem;
}
.content-3 h3 {
  font-size: 1.35rem;
  font-weight: 400;
}
.content-3 p {
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  margin: 5rem 0rem 0rem 17rem;
  background-color: #F5FCFF;
  font-weight: 600;
}

.home .fourth {
  position: absolute;
  top: 57%;
  height: 260px;
  width: 500px;
  margin-left: 1rem;
  border: 1px solid black;
}
.fourth .content-4 {
  position: absolute;
  top: 0%;
  width: 465px;
  align-items: center;
  margin-left: 2rem;
}
.content-4 h2 {
  font-size: 1.5rem;
  padding: 2rem 2rem 0.5rem 0rem;
  font-weight: 500;
}
.content-4 h1 {
  font-size: 2rem;
  padding-bottom: 0.3rem;
}
.content-4 h3 {
  font-size: 1.35rem;
  font-weight: 400;
}
.content-4 p {
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  margin: 5rem 0rem 0rem 17rem;
  background-color: #F5FCFF;
  font-weight: 600;
}
.home .fifth {
  position: absolute;
  top: 57%;
  height: 260px;
  width: 500px;
  margin-left: 70.5rem;
  border: 1px solid black;
  background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/subject/web-development.svg?fbclid=IwAR3javMSOqOsgHGUM002nD_sPTt232BdnMoYkbXICbQ-hynIc93YU0o4-zI);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 50%;
  
}
.fifth .content-5 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 430px;
  align-items: center;
  margin-left: 2rem;
}
.content-5 h2 {
  font-size: 1.5rem;
  padding: 3rem 2rem 0rem 2rem;
  font-weight: 500;
}
.content-5 h1 {
  font-size: 2rem;
  padding: 0rem 2rem 3rem 2rem;
}